.Button-Component {
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  font-family: 'RoobertTRIAL-Medium', monospace;
  gap: 10px;

  &:hover {
    color: #000;
    background-position: 100% 100%;

    img {
        filter: invert(1);
    }
  }

  &_primary {
    background: linear-gradient(90deg, #5B13EA 0%, #5115C9 40%, #E1D2FF 60%, #fff 100%);
    background-position: 0% 0%;
    background-size: 250% 200%;
    gap: 10px;
    transition: background-position 0.3s ease-in-out, color 300ms;
    width: 70%;
    
  
    img {
        transition: filter 200ms;
    }
  }

  &_secondary {
    color: black;
    background: linear-gradient(to bottom, #FFFFFF 0%, #E1D2FF 40%, #5B13EA 60%, #5115C9 100%);
    transition: background-position 0.3s ease-in-out, color 300ms;
    background-position: 0% 0%;
    background-size: 250% 250%;
    color: black;

    &:hover {
        color: white !important;
    }
  }
  
}