.Header {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    z-index: 999;
    padding-top: 20px;

    &__item {
        display: flex;

        &-burger {
            display: none;

            @media screen and (max-width: 880px) {
                width: 30px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                position: relative;
                z-index: 10;
                align-items: end;

                span {
                    display: block;
                    height: 2px;
                    width: 100%;
                    background: white;
                    transition: 0.3s;
                }

                span:nth-child(2) {
                    width: 70%;
                }
            }
        }

        .active {

            position: fixed;
            right: 20px;
            top: 20px;
        }

        &-burger.active span:nth-child(2) {
            opacity: 0;
        }

        &-burger.active span:nth-child(3) {
            transform: translateY(-9px) rotate(-45deg);
        }

        &-burger.active span:nth-child(1) {
            transform: translateY(9px) rotate(45deg);
        }
    }
}

.left {
    img {
        width: 100%;
    }
}

.center {
    gap: 30px;

    @media screen and (max-width: 880px) {
        display: none;
    }
}

.center a {
    color: #B497E5;
    font-size: 14px;
    font-family: 'RobertTRIAL', monospace;
    transition: transform 0.3s ease-in-out;
}

.center a:hover {
    transform: scale(1.1);
}

.right {
    button {
        background-color: transparent;
        background: linear-gradient(90deg, #5B13EA 0%, #5115C9 100%);
        padding: 8px 15px 8px 15px;
        border-radius: 30px;
        font-size: 16px;
        font-family: 'RobertTRIAL', monospace;
        transition: transform 0.3s ease-in-out;

        @media screen and (max-width: 880px) {
            display: none;
        }

        img {
            width: 12px;
        }
    }

    button:hover {
        transform: scale(1.1);
    }
}