.Header {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    z-index: 999;
    padding-top: 20px;

    &__item {
        display: flex;

        &-burger {
            display: none;

            @media screen and (max-width: 880px) {
                width: 30px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                position: relative;
                z-index: 10;
                align-items: end;

                span {
                    display: block;
                    height: 2px;
                    width: 100%;
                    background: white;
                    transition: 0.3s;
                }

                span:nth-child(2) {
                    width: 70%;
                }
            }
        }

        .active {

            position: fixed;
            right: 20px;
            top: 20px;
        }

        &-burger.active span:nth-child(2) {
            opacity: 0;
        }

        &-burger.active span:nth-child(3) {
            transform: translateY(-9px) rotate(-45deg);
        }

        &-burger.active span:nth-child(1) {
            transform: translateY(9px) rotate(45deg);
        }
    }
}

.left {
    img {
        width: 100%;
    }
}

.center {
    gap: 30px;

    @media screen and (max-width: 880px) {
        display: none;
    }
}

.center a {
    color: #B497E5;
    font-size: 14px;
    font-family: 'RoobertTRIAL-Light', monospace;

    span {
        display: inline-block;
        color: #B497E5;
        transition: transform 0.3s ease-in-out;
    }
}

.center a:hover {

    span {
        transform: rotate(70deg);
    }

}

.right {
    a {
        background-color: transparent;
        background: linear-gradient(90deg, #5B13EA 0%, #5115C9 40%, #E1D2FF 60%, #fff 100%);
        background-position: 0% 0%;
        background-size: 250% 200%;
        padding: 8px 15px 8px 15px;
        border-radius: 30px;
        font-size: 16px;
        font-family: 'RoobertTRIAL-Medium', monospace;
        transition: background-position 0.3s ease-in-out, color 300ms;

        @media screen and (max-width: 880px) {
            display: none;
        }

        img {
            transition: filter 200ms;
        }
    }

    a:hover {
        // transform: scale(1.1);
        color: #000;
        background-position: 100% 0%;

        img {
            filter: invert(1);
        }

    }
}