.Features {
    width: 90%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    margin-top: 90px;
    position: relative;
    // z-index: 3;

    &__top {
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        gap: 20px;
        width: 100%;

        @media screen and (max-width: 880px) {
            flex-direction: column;
            justify-content: center;
        }

        &-item {
            border-radius: 30px;
            width: calc(25% - 20px);
            height: 300px;

            @media screen and (max-width: 880px) {
                width: 100%;
                height: 200px;
            }

            &-bottom {
                background: linear-gradient(180deg, #0D0D24 0%, #5613DB 100%);
                padding: 1px 1px 1px 1px;
            }

            &-top {
                background: linear-gradient(0deg, #0D0D24 0%, #5613DB 100%);
                padding: 1px 1px 1px 1px;
            }
        }

        &-desc {
            background-color: black;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: start;
            height: 298px;

            @media screen and (max-width: 880px) {
                height: 198px;
            }

            img {
                margin: 20px 0px 20px 20px;
                width: 50px;
                height: 32px;
            }

            &-title {
                margin: 0px 100px 20px 20px;
                font-family: 'RoobertTRIAL-Light', monospace;
                font-size: 20px;
                max-width: 200px;
            }

            &-description {
                margin: 0px 0px 60px 20px;
                max-width: 250px;
                font-family: 'RoobertTRIAL-Light', monospace;
                font-size: 16px;
                color: #F1F1F1;
                font-weight: lighter;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        gap: 20px;
        width: 100%;

        @media screen and (max-width: 880px) {
            flex-direction: column;
            justify-content: center;
        }

        &-item {
            border-radius: 30px;
            width: calc(33% - 20px);
            display: flex;
            align-items: stretch;
            justify-content: center;

            &_small {
                width: calc(25% - 20px) !important;

                @media(max-width: 880px) {
                    width: 100% !important;
                }
            }

            @media screen and (max-width: 880px) {
                width: 100%;
                // height: 200px;
            }

            &-container {
                background-color: black;
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                width: 100%;

                img {
                    width: 36px;
                    height: 36px;
                    margin: 20px 350px 20px 20px;
                }

                &-title {
                    margin: 0px 0px 10px 20px;
                    font-family: 'RoobertTRIAL-Light', monospace;
                    font-size: 20px;
                }

                &-description {
                    margin: 0px 0px 65px 20px;
                    font-family: 'RoobertTRIAL-Light', monospace;
                    font-size: 16px;
                    font-weight: lighter;
                }
            }

            &-one {
                background-color: black;
                border-radius: 30px;

                width: 100%;
            }
        }



    }
}

.top {
    background: linear-gradient(0deg, #0D0D24 0%, #5613DB 100%);
    padding: 1px 1px 1px 1px;
}

.bottom {
    background: linear-gradient(180deg, #0D0D24 0%, #5613DB 100%);
    padding: 1px 1px 1px 1px;
}

.soon {
    background: linear-gradient(180deg, rgba(86, 19, 219, 0.3) 0%, rgba(13, 13, 36, 0.3) 100%);
}