.Action {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  background: linear-gradient(to top, rgba(#6C1EEC, .0) 0%, rgba(#6C1EEC, .8) 60%, rgba(#6C1EEC, .8) 70%, rgba(#6C1EEC, .0) 100%);
  padding-top: 200px;
  position: relative;
  top: -200px;
  // padding-top: 120px;
  margin-top: 120px;

  &_partners_header {
    margin-bottom: 60px;
  }

  &__decorPlace {
    height: 700px;

    @media(max-width: 1000px) {
      height: 75vw;
    }
  }

  &_decorBot,
  &_decorTop {
    width: 100% !important;
    align-items: start !important;
    top: 200px;

    @media(max-width: 1000px) {
      top: 140px;
    }

    img {
      width: 800px;
      max-width: 100vw;
    }
  }

  &_decorBot {
    z-index: -1;
  }

  &_decorTop {
    z-index: 2;

    &_text {
      width: 100% !important;
      top: 365px;
      left: 15px;
      z-index: 99;
      flex-wrap: wrap;

      @media(max-width: 880px) {
        top: calc(40vw + 50px);
      }

      &_header {
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 65px;

        @media(max-width: 1000px) {
          font-size: 6.5vw;
        }
      }

      &_subheader {
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 26px;

        @media(max-width: 1000px) {
          font-size: 2.4vw;
        }
      }
    }
  }


  &__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: start;
    max-width: 1600px;
    flex-direction: column;
    justify-content: center;

    &-title {
      font-size: 14px;
      font-family: 'RoobertTRIAL-Light', monospace;
      color: #7C49E1;
    }

    &-img {
      margin: 0 auto;
      margin-bottom: 50px;
      margin-top: 50px;
      width: 50%;

      @media (max-width: 880px) {
        width: 80%;
      }
    }


    &-partnes {
      // width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 120px;
      gap: 60px;
      animation: runRow 20s infinite linear;


      @keyframes runRow {
        0% {
          transform: translate(-1312px, 0px);
        }

        100% {
          transform: translate(-2624px, 0px);
        }
      }


      // @media screen and (max-width: 1100px) {
      //   flex-wrap: wrap;
      //   justify-content: center;
      //   gap: 20px;
      // }

      // @media screen and (max-width: 350px) {
      //   img {
      //     width: 25%;
      //   }
      // }
    }

    &-demo {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &-img {
        width: 100%;

        @media screen and (max-width: 880px) {
          display: none;
        }
      }

      &-img-phone {
        display: none;

        @media screen and (max-width: 880px) {
          display: flex;
        }
      }

      a {
        position: absolute;
        margin: 0 auto;
        background: linear-gradient(90deg, #5B13EA 0%, #5115C9 40%, #E1D2FF 60%, #fff 100%);
        background-position: 0% 0%;
        background-size: 250% 200%;
        padding: 12px 42px 12px 42px;
        border-radius: 30px;
        font-family: 'RoobertTRIAL-Medium', monospace;
        font-size: 20px;
        top: 90%;
        transition: transform 0.3s ease-in-out;
        transition: background-position 0.3s ease-in-out, color 300ms;
        top: 85%;
        @media(max-width: 1400px){
          top: 82%;
        }
        @media screen and (max-width: 1100px) {
          top: 80%;
        }

        @media screen and (max-width: 920px) {
          top: 75%;
        }
        @media(max-width: 880px){
          top: 85%;
        }

        img {
          width: 12px;
          transition: filter 200ms;
        }
      }

      a:hover {
        color: #000;
        background-position: 100% 0%;

        img {
          filter: invert(1);
        }
      }

      &-phone {
        position: absolute;
        left: 80%;
        top: 20%;
        width: 20%;

        @media screen and (max-width: 880px) {
          display: none;
        }
      }
    }
  }

}

// херня
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(circle at center, #300080, #170040);
  position: relative;
  margin-left: 50%;
}

.circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

// Главный круг
.main-circle {
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.1);
}

// Маленькие круги
.small-circle {
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
}

// Позиционируем маленькие круги вокруг главного
.tether {
  top: 30%;
  left: 20%;
}

.bitgo {
  bottom: 20%;
  left: 35%;
}

.circle-logo {
  top: 25%;
  right: 20%;
}

// конец херни