@font-face{
    font-family: "RoobertTRIAL-Light";
    src: url('../../public/fonts/RoobertTRIAL-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "RoobertTRIAL-Medium";
    src: url('../../public/fonts/RoobertTRIAL-Medium.otf');
    font-weight: normal;
    font-style: normal;
}