.Background {
    width: 100% !important;
    align-items: end !important;
    z-index: -1;

    @media(max-width: 650px) {
        top: 100px;
    }

    &_shadow {
        height: 100px;
        min-width: 200vw;
        position: relative;
        box-shadow: 0px -50px 50px black,
            0px -50px 50px black;


        &_wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            height: 0px;
        }
    }

    &_inner {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: end;

        iframe {
            height: 1000px;
            position: relative;

            @media(max-width: 700px) {
                scale: 1;
            }
        }

    }

    &_bottom {
        position: relative;
        // top: 200px
    }

    &_wrapper {
        width: 100%;
        // margin: 0 auto;
        // // max-width: 1500px;

        img {
            max-width: 150vw;
        }
    }
}